.circleLink{
    width: 10vh;
    height: 10vh;
    background: rgb(13,96,205);
    background: linear-gradient(90deg, rgba(13,96,205,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 5vh;
    flex-wrap: wrap;
    position: relative;
    text-align: center;

}

.img{
    max-width: 5vh;
    height: auto;
    position: absolute;
    top: 25%;
    left: 25%;

    
    
}