html{
    font-size: 16px;
}

.jumbotron{
    background-image: linear-gradient(to right bottom, rgba(41, 144, 255, 0.40), rgba(30, 96, 210, 0.4)), url(../../utils/img/city.gif);
    background-size: 100%;
}

.navbar{
    background-image: linear-gradient(to right bottom, rgba(41, 144, 255, 0.40), rgba(30, 96, 210, 0.4)), url(../../utils/img/city.gif);
    background-size: 100%;
}

    #headerContainer{  
     margin-left: 0;   
     display: inline-flex;
     max-Width: 100%;
     height: auto;
     justify-content: center;
     align-items: center;
    }
    
    img {
        max-Width: 15vw;
        height: auto;
        border-radius: 7.5vw;
       
    } 
.headerElements{
    display: inline-block;
    margin-left:5rem;
    flex-wrap: wrap;
    
}

    #name{
    font-size: 5vw;
  
    }
    #title{
    font-size: 2.5vw;
  
    }

    #contactBtn{
        
    
      margin-left: 20vw;
       
    }

    #nameLink{
        font-family: 'Secular One', Arial, Helvetica, sans-serif;
        color: seashell;
    }

.text{
    font-family: 'Secular One', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    
}



@media only screen and (max-width: 600px) {
  #headerContainer{
    margin-left: 0;   
    display: flex;
    max-Width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  
  }

  .headerElements{
    display: inline-block;
    margin: 0;

  }

  #headshot{
      margin: 3vh;
      min-width: 15vh;
      min-height: 15vh;
      border-radius: 10vh;
  }

  #name{
   font-size: 7vw;
  
    }
    #title{
    font-size: 3.5vw;
  
    }
}