#contactCard {
    background-color: white;
    padding: 0;
    margin: 0,auto;
    border-radius: 1.5vh;
    text-align: left;
    display: inline-flex;
    justify-content: space-around;
    border-style: solid ;
    border: solid;
    border-width: 1vh;
}

#contactBody{
    text-align: left;
}

#list{
    list-style-type: none;
    text-align: left;
    padding: 0;

}

h2{
    font-family: 'Secular One', Arial, Helvetica, sans-serif;
}
li{
    font-size: 1.5rem;
    font-weight: 500;
}