.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color: lightblue;
    color: white;
    text-align: center;
   
}

.linkGroup{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 2vh; 
    /* need a better way to vertically centre */
}

.link{
    
}