#skillCard {
    background-color: white;
    padding: 0;
    margin: 0,auto;
    border-radius: 1.5vh;
    text-align: left;
    border-style: solid ;
    border: solid;
    border-width: 1vh;
}

#list{
    list-style-type: none;
}

h1{
    font-family: 'Secular One', Arial, Helvetica, sans-serif;
}

li{
    font-size: 1rem;
    font-weight: 500;
}




@media only screen and (max-width: 600px) {
    #skillCard{
        background-color: white;
        padding: 0;
        margin: 5vw;
        margin-left: 10vw;
            border-radius: 1.5vh;
        list-style-type: none;
        border-style: solid ;
        border: solid;
        border-width: 1vh;
             
    }
    
  }