#portfolioCard{
    border-radius: 2rem;
   
}

.align{
    margin-left: 0;   
    display: inline-flex;
    content: "";
    max-Width: 100%;
    height: auto;
        
}

#thumbnail {
    margin: 1vw;
    max-Width: 10vw;
    border-radius:.5rem;
}           

#portLink{
  list-style-type: none;
  display: inline;
  justify-content: center; 
  
}