#portfolioCard{
    border-radius: 2rem;
    border-style: double, black;
    margin: 5vh;
}

.align{
    margin-left: 0;   
    display: inline-flex;
    content: "";
    max-Width: 100%;
    height: auto;
        
}

#thumbnail {
    margin: 1vw;
    max-Width: 15vw;
    height: auto;
    border-radius:.5rem;
}           

#portLink{
  list-style-type: none;
  display: inline;
  
  
}
a:link, a:visited {
    font-family: 'Secular One', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5rem;
}