#portfolioCard{
    border-radius: 3rem;
    border-style: double, black;
    margin: 5vh;
    border-style: solid ;
    border: solid;
    border-width: 1vh;
    align-items: center;
}

.row{
    margin-left: 0;   
    display: inline-flex;
    content: "";
    max-Width: 100%;
    height: auto;
        
}

#thumbnail {
    margin: 1vw;
    max-Width: 20vw;
    height: auto;
    border-radius:.5rem;
 
}           

#appName{
    font-size: 2.5rem;
}

#portLink{
  list-style-type: none;
  display: inline;
  
  
}
a:link, a:visited {
    font-family: 'Secular One', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5rem;
}

li, p{
    margin: 1rem;
}

@media only screen and (max-width: 600px) {
    #thumbnail {
        margin: 6vh;
        min-Width: 85vw;
        min-height: 40vh;
        border-radius:.5rem;
     
    }      
  }